@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollContainer::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 20px;
}
.scrollContainer::-webkit-scrollbar-track {
  margin: 5px;
}

.scrollContainer::-webkit-scrollbar-corner {
  display: none;
}
.scrollContainer::-webkit-scrollbar-button {
  display: none;
}
